Source: ace
Section: devel
Priority: optional
Maintainer: Debian ACE+TAO maintainers <pkg-ace-devel@lists.alioth.debian.org>
Uploaders: Konstantinos Margaritis <markos@debian.org>, Brian Nelson <pyro@debian.org>, Thomas Girard <thomas.g.girard@free.fr>
Build-Depends: debhelper (>= 5.0), libssl-dev (>= 0.9.7d), dpatch (>= 2.0.10), libxt-dev (>= 4.3.0), libfltk1.1-dev (>= 1.1.4), libqt3-mt-dev (>= 3:3.3.3), tk8.4-dev (>= 8.4.7), docbook-to-man, libxerces26-dev, bzip2
Standards-Version: 3.7.2

Package: mpc-ace
Architecture: all
Section: devel
Depends: ${perl:Depends}
Recommends: make
Suggests: libace-dev (= ${Source-Version}), pkg-config
Description: makefile, project and workspace creator
 This package contains the Makefile, Project and Workspace Creator (MPC)
 as distributed with the ACE toolkit.
 .
 MPC generates platform and compiler specific files to automate the
 compilation process.
 .
 The following programs are included:
  * mpc-ace, generating project files for a single target
  * mwc-ace, generating workspace files for a set of projects
 .
  Homepage: http://www.ociweb.com/products/MPC

Package: libace5.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Replaces: libace5.2, libace5.4 (<< 5.4.7), libace5.4.7
Conflicts: libace5.2, libace5.4 (<< 5.4.7), libace5.4.7
Description: C++ network programming framework
 This package contains the ADAPTIVE Communication Environment (ACE)
 framework.
 .
 It provides platform independent C++ wrappers for interprocess
 communication:
  * signals
  * pipes
  * sockets
  * message queues
  * semaphores
  * shared memory
 as well as thread, process management routines and much more.
 .
 Moreover, it defines patterns for common communication tasks.  Beyond
 these:
  * Reactor, to handle event demultiplexing and dispatching
  * Proactor, for asynchronous I/O driven programs
 .
  Homepage: http://www.cs.wustl.edu/~schmidt/ACE.html

Package: libace-dev
Architecture: any
Section: libdevel
Depends: libace5.4.7c2a (= ${Source-Version})
Suggests: libace-doc, libtao-dev, pkg-config
Replaces: libace5.2-dev
Conflicts: libace5.2-dev
Description: C++ network programming framework development files
 This package contains the header files and static library for the ACE
 framework.

Package: libace-doc
Architecture: all
Section: doc
Suggests: libace-dev
Description: C++ network programming framework documentation
 This package contains the ACE overview documentation, tutorials,
 examples, and information regarding upstream development.

Package: libace-ssl5.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Conflicts: libace5.4.7c2a (<< 5.4.7-10)
Description: ACE secure socket layer library
 This package contains wrappers that integrate the OpenSSL library in the
 ACE framework.

Package: libace-ssl-dev
Architecture: any
Section: libdevel
Depends: libace-ssl5.4.7c2a (= ${Source-Version}), libace-dev (= ${Source-Version}), libssl-dev (>= 0.9.7d)
Description: ACE secure socket layer library development files
 This package contains the header files and static library for the ACE
 SSL library.

Package: libace-rmcast5.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Replaces: libace-rmcast5.2, libace-rmcast5.4 (<< 5.4.7), libace-rmcast5.4.7
Conflicts: libace-rmcast5.2, libace-rmcast5.4 (<< 5.4.7), libace-rmcast5.4.7
Description: ACE reliable multicast library
 The RMCast library is a reliable source-ordered multicast protocol
 implementation.
 .
 It uses sequence number for re-ordering, duplicate suppression and
 loss detection of messages.

Package: libace-rmcast-dev
Architecture: any
Section: libdevel
Depends: libace-rmcast5.4.7c2a (= ${Source-Version}), libace-dev (= ${Source-Version})
Replaces: libace-rmcast5.2-dev
Description: ACE reliable multicast library development files
 This package contains the header files and static library for the ACE
 reliable multicast library.

Package: libace-tmcast5.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Replaces: libace-tmcast5.4.7
Conflicts: libace-tmcast5.4.7
Description: ACE transactional multicast library
 The TMCast library is a transaction multicast protocol implementation. 
 .
 Each message is delivered to multicast group members as a transaction: 
 an atomic, consistent and isolated action.

Package: libace-tmcast-dev
Architecture: any
Section: libdevel
Depends: libace-tmcast5.4.7c2a (= ${Source-Version}), libace-dev (= ${Source-Version})
Description: ACE transactional multicast library development files
 This package contains the header files and static library for the ACE
 transactional multicast library.

Package: libace-htbp5.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: ACE protocol over HTTP tunneling library
 The HTTP Tunneling, Bidirectional, Protocol (HTBP) library enables
 the writing of stream-based protocols over HTTP.
 .
 This allows clients behind a firewall to establish a connection with
 outbound servers using the HTTP protocol.

Package: libace-htbp-dev
Architecture: any
Section: libdevel
Depends: libace-htbp5.4.7c2a (= ${Source-Version}), libace-dev (= ${Source-Version})
Description: ACE protocol over HTTP tunneling library development files
 This package contains the header files and static library for the ACE
 HTBP library.

Package: gperf-ace
Architecture: any
Section: devel
Depends: ${shlibs:Depends}
Description: ACE perfect hash function generator
 gperf-ace is the ACE version of gperf.
 .
 Both gperf-ace and gperf were written by the same author, and have
 basically the same options and functionality.  gperf-ace simply takes
 advantage of the some of the features provided by the ACE library.

Package: libacexml5.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Replaces: libacexml5.4 (<< 5.4.7), libacexml5.4.7
Conflicts: libacexml5.4 (<< 5.4.7), libacexml5.4.7
Description: ACE SAX based XML parsing library
 This package provides interfaces for XML parsing based on Simple API
 for XML (SAX) 2.0, defined by David Megginson. This is an event-driven
 parsing approach.
 .
 ACEXML is a small footprint and portable library.  It does not validate
 XML documents and supports only Unicode encoding.

Package: libacexml-dev
Architecture: any
Section: libdevel
Depends: libacexml5.4.7c2a (= ${Source-Version}), libace-dev (= ${Source-Version})
Description: ACE SAX based XML parsing library development files
 This package contains the header files and static library for the ACE
 XML parsing library.

Package: libkokyu5.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Replaces: libkokyu5.4 (<< 5.4.7), libkokyu5.4.7
Conflicts: libkokyu5.4 (<< 5.4.7), libkokyu5.4.7
Suggests: libtao1.4.7c2a, libtao-orbsvcs1.4.7c2a
Description: ACE scheduling and dispatching library
 Kokyu is a library designed to provide flexible scheduling and
 dispatching services.
 .
 Currently it provides real-time scheduling and dispatching services
 for TAO real-time CORBA Event Service.

Package: libkokyu-dev
Architecture: any
Section: libdevel
Depends: libkokyu5.4.7c2a (= ${Source-Version}), libace-dev (= ${Source-Version})
Suggests: libtao-orbsvcs-dev (= ${Source-Version})
Description: ACE scheduling and dispatching library development files
 This package contains the header files and static library for the ACE
 scheduling and dispatching library.

Package: libace-qtreactor5.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Replaces: libace-qtreactor5.4 (<< 5.4.7), libace-qtreactor5.4.7
Conflicts: libace-qtreactor5.4 (<< 5.4.7), libace-qtreactor5.4.7
Description: ACE-GUI reactor integration for Qt
 Recognizing the need to write reactor-based GUI applications, the ACE
 community has created several reactor extensions for use with X Window
 System.  Each of these extends the ACE_Select_Reactor to work with a
 specific toolkit.  By using these reactors, your GUI application can remain
 single threaded yet still respond to both GUI events, such as button
 presses, any your own application events.
 .
 The ACE_QtReactor extends both the ACE_Select_Reactor and the Trolltech Qt
 library's QObjects class.  Rather then using select(), the
 QtWaitForMultipleEvents() function is used.

Package: libace-qtreactor-dev
Architecture: any
Section: libdevel
Depends: libace-qtreactor5.4.7c2a (= ${Source-Version}), libace-dev (= ${Source-Version}), libqt3-mt-dev (>= 3:3.3.3)
Description: ACE-GUI reactor integration for Qt development files
 This package contains header files and static library for the ACE-Qt
 reactor integration.

Package: libace-xtreactor5.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Replaces: libace-xtreactor5.4 (<< 5.4.7), libace-xtreactor5.4.7
Conflicts: libace-xtreactor5.4 (<< 5.4.7), libace-xtreactor5.4.7
Description: ACE-GUI reactor integration for Xt
 Recognizing the need to write reactor-based GUI applications, the ACE
 community has created several reactor extensions for use with X Window
 System.  Each of these extends the ACE_Select_Reactor to work with a
 specific toolkit.  By using these reactors, your GUI application can remain
 single threaded yet still respond to both GUI events, such as button presses,
 any your own application events.
 .
 The ACE_XtReactor extends both the ACE_Select_Reactor and the X Toolkit library
 function XtWaitForMultipleEvents().

Package: libace-xtreactor-dev
Architecture: any
Section: libdevel
Depends: libace-xtreactor5.4.7c2a (= ${Source-Version}), libace-dev (= ${Source-Version}), libxt-dev (>= 4.3.0)
Description: ACE-GUI reactor integration for Xt development files
 This package contains header files and static library for the ACE-Xt
 reactor integration.

Package: libace-tkreactor5.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Replaces: libace-tkreactor5.4 (<< 5.4.7), libace-tkreactor5.4.7
Conflicts: libace-tkreactor5.4 (<< 5.4.7), libace-tkreactor5.4.7
Description: ACE-GUI reactor integration for Tk
 Recognizing the need to write reactor-based GUI applications, the ACE
 community has created several reactor extensions for use with X Window
 System.  Each of these extends the ACE_Select_Reactor to work with a
 specific toolkit.  By using these reactors, your GUI application can remain
 single threaded yet still respond to both GUI events, such as button presses,
 any your own application events.
 .
 The ACE_TkReactor provides reactor functionality around the popular Tcl/Tk
 library.  The underlying Tcl/Tk method used is Tcl_DoOneEvent().

Package: libace-tkreactor-dev
Architecture: any
Section: libdevel
Depends: libace-tkreactor5.4.7c2a (= ${Source-Version}), libace-dev (= ${Source-Version}), tk8.4-dev (>= 8.4.7)
Description: ACE-GUI reactor integration for Tk development files
 This package contains header files and static library for the ACE-Tk
 reactor integration.

Package: libace-flreactor5.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Replaces: libace-flreactor5.4 (<< 5.4.7), libace-flreactor5.4.7
Conflicts: libace-flreactor5.4 (<< 5.4.7), libace-flreactor5.4.7
Description: ACE-GUI reactor integration for Fl
 Recognizing the need to write reactor-based GUI applications, the ACE
 community has created several reactor extensions for use with X Window
 System.  Each of these extends the ACE_Select_Reactor to work with a
 specific toolkit.  By using these reactors, your GUI application can remain
 single threaded yet still respond to both GUI events, such as button presses,
 any your own application events.
 .
 The ACE_FlReactor integrates with the FastLight toolkit's Fl::wait() method.

Package: libace-flreactor-dev
Architecture: any
Section: libdevel
Depends: libace-flreactor5.4.7c2a (= ${Source-Version}), libace-dev (= ${Source-Version}), libfltk1.1-dev (>= 1.1.4)
Description: ACE-GUI reactor integration for Fl development files
 This package contains header files and static library for the ACE-Fl
 reactor integration.

Package: libtao1.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Replaces: libtao1.4 (<< 5.4.7), libtao1.4.7
Conflicts: libtao1.4 (<< 5.4.7), libtao1.4.7
Suggests: libtao-orbsvcs1.4.7c2a
Description: ACE based CORBA ORB core libraries
 The ACE ORB (TAO) is an open-source Common Object Request Broker 
 Architecture (CORBA) 2.x-compliant Object Request Broker (ORB).  It
 supports real-time extensions.
 .
 This package contains TAO core libraries.
 .
  Homepage: http://www.cs.wustl.edu/~schmidt/TAO.html

Package: libtao-dev
Architecture: any
Section: libdevel
Depends: libtao1.4.7c2a (= ${Source-Version}), libace-dev (= ${Source-Version})
Suggests: libtao-doc, libtao-orbsvcs-dev (= ${Source-Version})
Description: ACE based CORBA ORB core libraries development files
 This package contains the header files for TAO.  Due to the size of the
 static libs (> 400MB) they have been left out.

Package: libtao-doc
Architecture: all
Section: doc
Suggests: libtao-dev (= ${Source-Version})
Description: ACE based CORBA ORB core libraries documentation
 This package contains the TAO overview documentation, tutorials,
 examples, and information regarding upstream development.

Package: libtao-orbsvcs1.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Replaces: libtao-orbsvcs1.3.1, libtao-orbsvcs1.4 (<< 5.4.7), libtao-orbsvcs1.4.7
Conflicts: libtao-orbsvcs1.3.1, libtao-orbsvcs1.4 (<< 5.4.7), libtao-orbsvcs1.4.7
Description: TAO CORBA services
 This package contains TAO CORBA services programs and libraries.
 .
 This includes:
  * naming service
  * trading service
  * event service
  * notification service
  * interface repository
  * implementation repository
  * logging service
  * time service
  * scheduling service
  * fault-tolerant services
  * concurrency service

Package: libtao-orbsvcs-dev
Architecture: any
Section: libdevel
Depends: libtao-orbsvcs1.4.7c2a (= ${Source-Version}), libtao-dev (= ${Source-Version})
Description: TAO CORBA services development files
 This package contains the header files for the TAO CORBA services.
 Due to the size of the static libs (> 400MB) they have been left out.
 The examples and some documentation have been included as well.

Package: libtao-qtresource1.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Replaces: libtao-qtreactor1.4 (<< 5.4.7), libtao-qtresource1.4.7
Conflicts: libtao-qtreactor1.4 (<< 5.4.7), libtao-qtresource1.4.7
Description: TAO-GUI reactor integration for Qt
 The Qt resource factory integrates ACE QtReactor into TAO ORB reactor.

Package: libtao-qtresource-dev
Architecture: any
Section: libdevel
Depends: libtao-qtresource1.4.7c2a (= ${Source-Version}), libace-qtreactor-dev (= ${Source-Version}), libtao-dev (= ${Source-Version})
Replaces: libtao-qtreactor-dev (<< 5.4.7)
Conflicts: libtao-qtreactor-dev (<< 5.4.7)
Description: TAO-GUI reactor integration for Qt development files
 This package contains header files and static library for the TAO-Qt
 reactor integration.

Package: libtao-xtresource1.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Replaces: libtao-xtreactor1.4 (<< 5.4.7), libtao-xtresource1.4.7
Conflicts: libtao-xtreactor1.4 (<< 5.4.7), libtao-xtresource1.4.7
Description: TAO-GUI reactor integration for Xt
 The Xt resource factory integrates ACE XtReactor into TAO ORB reactor.

Package: libtao-xtresource-dev
Architecture: any
Section: libdevel
Depends: libtao-xtresource1.4.7c2a (= ${Source-Version}), libace-xtreactor-dev (= ${Source-Version}), libtao-dev (= ${Source-Version})
Replaces: libtao-xtreactor-dev (<< 5.4.7)
Conflicts: libtao-xtreactor-dev (<< 5.4.7)
Description: TAO-GUI reactor integration for Xt development files
 This package contains header files and static library for the TAO-Xt
 reactor integration.

Package: libtao-flresource1.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Replaces: libtao-flresource1.4.7
Conflicts: libtao-flresource1.4.7
Description: TAO-GUI reactor integration for Fl
 The Fl resource factory integrates ACE FlReactor into TAO ORB reactor.

Package: libtao-flresource-dev
Architecture: any
Section: libdevel
Depends: libtao-flresource1.4.7c2a (= ${Source-Version}), libace-flreactor-dev (= ${Source-Version}), libtao-dev (= ${Source-Version})
Description: TAO-GUI reactor integration for Fl development files
 This package contains header files and static library for the TAO-Fl
 reactor integration.

Package: libtao-tkresource1.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Replaces: libtao-tkresource1.4.7
Conflicts: libtao-tkresource1.4.7
Description: TAO-GUI reactor integration for Tk development files
 The Tk resource factory integrates ACE TkReactor into TAO ORB reactor.

Package: libtao-tkresource-dev
Architecture: any
Section: libdevel
Depends: libtao-tkresource1.4.7c2a (= ${Source-Version}), libace-tkreactor-dev (= ${Source-Version}), libtao-dev (= ${Source-Version})
Description: TAO-GUI reactor integration for Tk development files
 This package contains header files and static library for the TAO-Tk
 reactor integration.

Package: libtao-ifr-client1.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: TAO interface repository client library
 This library provides a mean of communicating with an interface repository.

Package: libtao-ifr-client-dev
Architecture: any
Section: libdevel
Depends: libtao-ifr-client1.4.7c2a (= ${Source-Version}), libtao-dev (= ${Source-Version})
Description: TAO interface repository client library development files
 This package contains header files for the TAO interface repository client
 library.

Package: libtao-imr-client1.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: TAO implementation repository client library
 The libTAO_ImR_Client library provides a mean of communicating with TAO
 implementation repository.

Package: libtao-imr-client-dev
Architecture: any
Section: libdevel
Depends: libtao-imr-client1.4.7c2a (= ${Source-Version}), libtao-dev (= ${Source-Version})
Description: TAO implementation repository client library development files
 This package contains header files for the TAO implementation repository
 client library.

Package: libtao-idl-fe1.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: TAO IDL compiler front-end library
 This package provides the default front-end library for the TAO IDL compiler.
 It reads IDL source files.

Package: libtao-idl-be1.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: TAO IDL compiler back-end library
 This package provides the default back-end library for the TAO IDL compiler.
 It generates C++ stubs and skeletons.

Package: libtao-bidirgiop1.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: TAO bidirectional GIOP library
 TBD

Package: libtao-bidirgiop-dev
Architecture: any
Section: libdevel
Depends: libtao-bidirgiop1.4.7c2a (= ${Source-Version})
Description: TAO bidirectional GIOP library development files
 TBD

Package: libtao-codecfactory1.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: TAO codec factory library
 TBD

Package: libtao-codecfactory-dev
Architecture: any
Section: libdevel
Depends: libtao-codecfactory1.4.7c2a (= ${Source-Version})
Description: TAO codec factory library development files
 TBD

Package: libtao-dynamicany1.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: TAO DynAny library
 TBD

Package: libtao-dynamicany-dev
Architecture: any
Section: libdevel
Depends: libtao-dynamicany1.4.7c2a (= ${Source-Version})
Description: TAO DynAny library development files
 TBD

Package: libtao-dynamicinterface1.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: TAO dynamic interface library
 TBD

Package: libtao-dynamicinterface-dev
Architecture: any
Section: libdevel
Depends: libtao-dynamicinterface1.4.7c2a (= ${Source-Version})
Description: TAO dynamic interface library development files
 TBD

Package: tao-idl
Architecture: any
Section: devel
Depends: ${shlibs:Depends}
Description: TAO IDL to C++ compiler
 tao_idl provides a Interface Definition Language (IDL) to C++ compiler.
 Use it to generate stubs and skeletons to call or implement CORBA
 distributed objects in C++.

Package: tao-ifr
Architecture: any
Section: devel
Depends: ${shlibs:Depends}
Description: TAO interface repository
 CORBA-aware programs can contact an interface repository to get objects
 interfaces at run-time. Then they can use the Dynamic Invocation
 Interface (DII) mechanism to invoke requests on those objects.
 .
 This package includes the following programs:
  * IFR_Service: interface repository server
  * tao_ifr: feeds in the interface repository

Package: tao-imr
Architecture: any
Section: devel
Depends: ${shlibs:Depends}
Description: TAO implementation repository
 An implementation repository activates CORBA servers on demand.
 .
 This package includes the following programs:
  * ImplRepo_Service: the main server; delegates call to activators.
  * ImR_Activator: activates and shuts servers down on demand
  * tao_imr: registers servers for later activation

Package: libciao0.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Replaces: libciao1.4 (<< 5.4.7), libciao0.4.7
Conflicts: libciao1.4 (<< 5.4.7), libciao0.4.7
Description: TAO based CORBA Component Model implementation
 Component Integrated ACE ORB (CIAO) is an implementation of CORBA
 Component Model (CCM) based on TAO.
 .
 This package contains CIAO core libraries and servers.
 .
  Homepage: http://www.cs.wustl.edu/~schmidt/CIAO.html

Package: libciao-dev
Architecture: any
Section: libdevel
Depends: libciao0.4.7c2a (= ${Source-Version}), libtao-orbsvcs-dev (= ${Source-Version})
Suggests: libciao-doc
Description: TAO based CORBA Component Model implementation development files
 This package contains the header files for CIAO.

Package: libciao-doc
Architecture: all
Section: doc
Suggests: libciao-dev
Conflicts: libciao-dev (<< 5.4.7-9)
Description: TAO based CORBA Component Model documentation
 This package contains the CIAO documentation, tutorials and examples.
