Source: ace
Section: devel
Priority: optional
Maintainer: Debian ACE+TAO maintainers <pkg-ace-devel@lists.alioth.debian.org>
Uploaders: Konstantinos Margaritis <markos@debian.org>, Brian Nelson <pyro@debian.org>
Build-Depends: debhelper (>= 4.1), libssl-dev (>= 0.9.7d), dpatch (>= 2.0.10), libxt-dev (>= 4.3.0), libfltk1.1-dev (>= 1.1.4), libqt3-mt-dev (>= 3:3.3.3), tk8.4-dev (>= 8.4.7), docbook-to-man, libxerces26-dev, bzip2
Standards-Version: 3.6.2

Package: libace5.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Replaces: libace5.2, libace5.4 (<< 5.4.7), libace5.4.7
Conflicts: libace5.2, libace5.4 (<< 5.4.7), libace5.4.7
Description: An Object-Oriented Network Programming Toolkit in C++
 This package contains the run-time ACE library.
 .
 The ADAPTIVE Communication Environment (ACE) is a freely available open
 source object-oriented (OO) framework that implements many core design
 patterns for concurrent communication software. ACE provides a rich set
 of reusable C++ wrappers and framework components that perform common
 communication software tasks across a range of OS platforms. The
 communication software tasks provided by ACE include event
 demultiplexing and event handler dispatching, signal handling, service
 initialization, interprocess communication, shared memory management,
 message routing, dynamic (re)configuration of distributed services,
 concurrent execution and synchronization.
 .
 ACE is targeted for developers of high-performance and real-time
 communication services and applications. It simplifies the development
 of OO network applications and services that utilize interprocess
 communication, event demultiplexing, explicit dynamic linking, and
 concurrency. In addition, ACE automates system configuration and
 reconfiguration by dynamically linking services into applications at
 run-time and executing these services in one or more processes or
 threads.
 .
  Author: Douglas C. Schmidt <schmidt@uci.edu>
  Homepage: http://www.cs.wustl.edu/~schmidt/ACE.html

Package: libace-dev
Architecture: any
Section: libdevel
Depends: libace5.4.7c2a (= ${Source-Version}), libssl-dev (>= 0.9.7d)
Suggests: libace-doc, libtao-dev, pkg-config
Replaces: libace5.2-dev
Conflicts: libace5.2-dev
Description:  An Object-Oriented Network Programming Toolkit in C++
 This package contains the header files and static libraries for the ACE
 toolkit.
 .
 The ADAPTIVE Communication Environment (ACE) is a freely available open
 source object-oriented (OO) framework that implements many core design
 patterns for concurrent communication software. ACE provides a rich set
 of reusable C++ wrappers and framework components that perform common
 communication software tasks across a range of OS platforms. The
 communication software tasks provided by ACE include event
 demultiplexing and event handler dispatching, signal handling, service
 initialization, interprocess communication, shared memory management,
 message routing, dynamic (re)configuration of distributed services,
 concurrent execution and synchronization.
 .
 ACE is targeted for developers of high-performance and real-time
 communication services and applications. It simplifies the development
 of OO network applications and services that utilize interprocess
 communication, event demultiplexing, explicit dynamic linking, and
 concurrency. In addition, ACE automates system configuration and
 reconfiguration by dynamically linking services into applications at
 run-time and executing these services in one or more processes or
 threads.
 .
  Author: Douglas C. Schmidt <schmidt@uci.edu>
  Homepage: http://www.cs.wustl.edu/~schmidt/ACE.html

Package: mpc-ace
Architecture: all
Section: devel
Depends: libace-dev (= ${Source-Version}), perl
Recommends: gperf-ace, libtao-dev, make
Suggests: pkg-config
Description:  A Makefile generator in Perl
 This package contains the MakeProjectCreator (MPC) for the ACE
 toolkit.
 .
 The ADAPTIVE Communication Environment (ACE) is a freely available open
 source object-oriented (OO) framework that implements many core design
 patterns for concurrent communication software. ACE provides a rich set
 of reusable C++ wrappers and framework components that perform common
 communication software tasks across a range of OS platforms. The
 communication software tasks provided by ACE include event
 demultiplexing and event handler dispatching, signal handling, service
 initialization, interprocess communication, shared memory management,
 message routing, dynamic (re)configuration of distributed services,
 concurrent execution and synchronization.
 .
 ACE is targeted for developers of high-performance and real-time
 communication services and applications. It simplifies the development
 of OO network applications and services that utilize interprocess
 communication, event demultiplexing, explicit dynamic linking, and
 concurrency. In addition, ACE automates system configuration and
 reconfiguration by dynamically linking services into applications at
 run-time and executing these services in one or more processes or
 threads.
 .
  Author: Douglas C. Schmidt <schmidt@uci.edu>
  Homepage: http://www.cs.wustl.edu/~schmidt/ACE.html
 
Package: libace-doc
Architecture: all
Section: doc
Suggests: libace-dev
Description: Documentation for the ADAPTIVE Communication Environment (ACE)
 This package contains the ACE overview documentation, tutorials,
 examples, and information regarding upstream development.
 .
 The ADAPTIVE Communication Environment (ACE) is a freely available open
 source object-oriented (OO) framework that implements many core design
 patterns for concurrent communication software. ACE provides a rich set
 of reusable C++ wrappers and framework components that perform common
 communication software tasks across a range of OS platforms. The
 communication software tasks provided by ACE include event
 demultiplexing and event handler dispatching, signal handling, service
 initialization, interprocess communication, shared memory management,
 message routing, dynamic (re)configuration of distributed services,
 concurrent execution and synchronization.
 .
 ACE is targeted for developers of high-performance and real-time
 communication services and applications. It simplifies the development
 of OO network applications and services that utilize interprocess
 communication, event demultiplexing, explicit dynamic linking, and
 concurrency. In addition, ACE automates system configuration and
 reconfiguration by dynamically linking services into applications at
 run-time and executing these services in one or more processes or
 threads.
 .
  Author: Douglas C. Schmidt <schmidt@uci.edu>
  Homepage: http://www.cs.wustl.edu/~schmidt/ACE.html

Package: libace-rmcast5.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Replaces: libace-rmcast5.2, libace-rmcast5.4 (<< 5.4.7), libace-rmcast5.4.7
Conflicts: libace-rmcast5.2, libace-rmcast5.4 (<< 5.4.7), libace-rmcast5.4.7
Description: A reliable multicast library in C++
 This package contains the reliable multicast framework run-time library
 for ACE.
 .
 ACE_RMCast is a simple, small-scale reliable multicast framework for
 ACE.  The framework is based on the ASX components of the ACE library:
 the protocol is implemented as a stack of interchangeable "modules",
 each one in charge of a very small task.  For example, one module
 implements fragmentation and reassembly, other modules implement
 retransmission, send ACK and NAK messages, and maintain receiver
 membership.

Package: libace-rmcast-dev
Architecture: any
Section: libdevel
Depends: libace-rmcast5.4.7c2a (= ${Source-Version}), libace-dev (= ${Source-Version})
Replaces: libace-rmcast5.2-dev
Description: A reliable multicast library in C++ (development files)
 This package contains reliable multicast framework development files
 for ACE.
 .
 ACE_RMCast is a simple, small-scale reliable multicast framework for
 ACE.  The framework is based on the ASX components of the ACE library:
 the protocol is implemented as a stack of interchangeable "modules",
 each one in charge of a very small task.  For example, one module
 implements fragmentation and reassembly, other modules implement
 retransmission, send ACK and NAK messages, and maintain receiver
 membership.

Package: libace-tmcast5.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Replaces: libace-tmcast5.4.7
Conflicts: libace-tmcast5.4.7
Description: A transactional multicast library in C++
 This package contains the transactional multicast framework run-time library
 for ACE.
 .
 In essence, the idea is to represent each message delivery to members
 of a multicast group as a transaction - an atomic, consistent and
 isolated action.

Package: libace-tmcast-dev
Architecture: any
Section: libdevel
Depends: libace-tmcast5.4.7c2a (= ${Source-Version}), libace-dev (= ${Source-Version})
Description: A transactional multicast library in C++ (development files)
 This package contains transactional multicast framework development files
 for ACE.
 .
 In essence, the idea is to represent each message delivery to members
 of a multicast group as a transaction - an atomic, consistent and
 isolated action.

Package: gperf-ace
Architecture: any
Section: devel
Depends: ${shlibs:Depends}
Description: Perfect hash function generator (ACE version)
 gperf-ace is the ACE version of gperf.
 .
 Both gperf-ace and gperf were written by the same author, and have
 basically the same options and functionality.  gperf-ace simply takes
 advantage of the some of the features provided by the ACE library.

Package: libacexml5.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Replaces: libacexml5.4 (<< 5.4.7), libacexml5.4.7
Conflicts: libacexml5.4 (<< 5.4.7), libacexml5.4.7
Description: ACE XML PARSER Framework (runtime)
 This package contains the run-time ACE library.
 .
 ACEXML is a small footprint and portable framework for integrating XML
 parsing ability into user applications.  The framework is based on the
 Simple API for XML (SAX 2.0) (http://www.saxproject.org/) by David 
 Megginson.  A simple non-conformant XML parser is also included in the 
 framework.

Package: libacexml-dev
Architecture: any
Section: libdevel
Depends: libacexml5.4.7c2a (= ${Source-Version}), libace-dev (= ${Source-Version})
Description: ACE XML PARSER Framework (development files)
 This package contains the header files and static libraries for the ACE
 toolkit.
 .
 ACEXML is a small footprint and portable framework for integrating XML
 parsing ability into user applications.  The framework is based on the
 Simple API for XML (SAX 2.0) (http://www.saxproject.org/) by David 
 Megginson.  A simple non-conformant XML parser is also included in the 
 framework.

Package: libkokyu5.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Replaces: libkokyu5.4 (<< 5.4.7), libkokyu5.4.7
Conflicts: libkokyu5.4 (<< 5.4.7), libkokyu5.4.7
Suggests: libtao1.4.7c2a, libtao-orbsvcs1.4.7c2a
Description: Kokyu middleware for TAO
 This package contains the Kokyu library.
 .
 Kokyu is a portable middleware scheduling framework designed to provide 
 flexible scheduling and dispatching services within the context of
 higher-level middleware. Kokyu currently provides real-time scheduling
 and dispatching services for TAO's real-time CORBA Event Service, which
 mediates supplier-consumer relationships between application operations.

Package: libkokyu-dev
Architecture: any
Section: libdevel
Depends: libkokyu5.4.7c2a (= ${Source-Version}), libace-dev (= ${Source-Version})
Suggests: libtao-orbsvcs-dev (= ${Source-Version})
Description: Kokyu middleware for TAO (development files)
 This package contains the development files for Kokyu.
 .
 Kokyu is a portable middleware scheduling framework designed to provide 
 flexible scheduling and dispatching services within the context of
 higher-level middleware. Kokyu currently provides real-time scheduling
 and dispatching services for TAO's real-time CORBA Event Service, which
 mediates supplier-consumer relationships between application operations.

Package: libtao1.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Replaces: libtao1.4 (<< 5.4.7), libtao1.4.7
Conflicts: libtao1.4 (<< 5.4.7), libtao1.4.7
Suggests: libtao-orbsvcs1.4.7c2a
Description: The ACE ORB, an open-source implementation of CORBA ORB
 This package contains the run-time TAO libraries.
 .
 TAO is a freely available, open-source implementation of a CORBA 
 2.x-compliant ORB that supports real-time extensions. 

Package: libtao-dev
Architecture: any
Section: libdevel
Depends: libtao1.4.7c2a (= ${Source-Version}), libace-dev (= ${Source-Version})
Suggests: libtao-doc, libtao-orbsvcs-dev (= ${Source-Version})
Description: Development files for TAO, The ACE ORB
 This package contains the header files for the TAO toolkit. Due to the
 size of the static libs (> 400MB) they have been left out.
 .
 TAO is a freely available, open-source implementation of a CORBA 
 2.x-compliant ORB that supports real-time extensions. 

Package: libtao-doc
Architecture: all
Section: doc
Suggests: libtao-dev (= ${Source-Version})
Description: Documentation for TAO, The ACE ORB
 This package contains the TAO overview documentation, tutorials,
 examples, and information regarding upstream development.
 .
 TAO is a freely available, open-source implementation of a CORBA 
 2.x-compliant ORB that supports real-time extensions. 

Package: libtao-orbsvcs1.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Replaces: libtao-orbsvcs1.3.1, libtao-orbsvcs1.4 (<< 5.4.7), libtao-orbsvcs1.4.7
Conflicts: libtao-orbsvcs1.3.1, libtao-orbsvcs1.4 (<< 5.4.7), libtao-orbsvcs1.4.7
Description: The ACE ORB, an open-source implementation of CORBA ORB
 This package contains the run-time TAO ORB services libraries.
 .
 TAO is a freely available, open-source implementation of a CORBA 
 2.x-compliant ORB that supports real-time extensions. 

Package: libtao-orbsvcs-dev
Architecture: any
Section: libdevel
Depends: libtao-orbsvcs1.4.7c2a (= ${Source-Version}), libtao-dev (= ${Source-Version})
Description: The ACE ORB, an open-source implementation of CORBA ORB
 This package contains the header files for the TAO ORB Services.
 Due to the size of the static libs (> 400MB) they have been left out.
 The examples and some documentation have been included as well.
 .
 TAO is a freely available, open-source implementation of a CORBA 
 2.x-compliant ORB that supports real-time extensions. 

Package: libciao0.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Replaces: libciao1.4 (<< 5.4.7), libciao0.4.7
Conflicts: libciao1.4 (<< 5.4.7), libciao0.4.7
Description: CIAO, TAO's implementation of CORBA Component Model (CCM)
 This package contains the run-time CIAO libraries.
 .
 CIAO is TAO's implementation of CORBA Component Model (CCM) specially
 optimized for distributed real-time embedded (DRE) systems

Package: libciao-dev
Architecture: any
Section: libdevel
Depends: libciao0.4.7c2a (= ${Source-Version}), libtao-orbsvcs-dev (= ${Source-Version})
Description: CIAO, TAO's implementation of CORBA Component Model (CCM)
 This package contains the header files for CIAO.
 The examples and some documentation have been included as well.
 .
 CIAO is TAO's implementation of CORBA Component Model (CCM) specially
 optimized for distributed real-time embedded (DRE) systems

Package: libace-qtreactor5.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Replaces: libace-qtreactor5.4 (<< 5.4.7), libace-qtreactor5.4.7
Conflicts: libace-qtreactor5.4 (<< 5.4.7), libace-qtreactor5.4.7
Description: GUI Integrated Reactors for ACE: Qt Reactor
 Recognizing the need to write reactor-based GUI applications, the ACE
 community has created several reactor extensions for use with X Window
 System. Each of these extends the ACE_Select_Reactor to work with a
 specific toolkit. By using these reactors, your GUI application can remain
 single threaded yet still respond to both GUI events, such as button
 presses, any your own application events.
 .
 The ACE_QtReactor extends both the ACE_Select_Reactor and the Trolltech Qt
 library's QObjects class. Rather then using select(), the
 QtWaitForMultipleEvents() function is used.

Package: libace-qtreactor-dev
Architecture: any
Section: libdevel
Depends: libace-qtreactor5.4.7c2a (= ${Source-Version}), libace-dev (= ${Source-Version}), libqt3-mt-dev (>= 3:3.3.3)
Description: GUI Integrated Reactors for ACE: Qt Reactor (development files)
 Recognizing the need to write reactor-based GUI applications, the ACE
 community has created several reactor extensions for use with X Window
 System. Each of these extends the ACE_Select_Reactor to work with a
 specific toolkit. By using these reactors, your GUI application can remain
 single threaded yet still respond to both GUI events, such as button
 presses, any your own application events.
 .
 The ACE_QtReactor extends both the ACE_Select_Reactor and the Trolltech Qt
 library's QObjects class. Rather then using select(), the
 QtWaitForMultipleEvents() function is used.
 .
 This packages contains development files.

Package: libace-xtreactor5.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Replaces: libace-xtreactor5.4 (<< 5.4.7), libace-xtreactor5.4.7
Conflicts: libace-xtreactor5.4 (<< 5.4.7), libace-xtreactor5.4.7
Description: GUI Integrated Reactors for ACE: Xt Reactor
 Recognizing the need to write reactor-based GUI applications, the ACE
 community has created several reactor extensions for use with X Window
 System. Each of these extends the ACE_Select_Reactor to work with a
 specific toolkit. By using these reactors, your GUI application can remain
 single threaded yet still respond to both GUI events, such as button presses,
 any your own application events.
 .
 The ACE_XtReactor extends both the ACE_Select_Reactor and the X Toolkit library
 function XtWaitForMultipleEvents().

Package: libace-xtreactor-dev
Architecture: any
Section: libdevel
Depends: libace-xtreactor5.4.7c2a (= ${Source-Version}), libace-dev (= ${Source-Version}), libxt-dev (>= 4.3.0)
Description: GUI Integrated Reactors for ACE: Xt Reactor (development files)
 Recognizing the need to write reactor-based GUI applications, the ACE
 community has created several reactor extensions for use with X Window
 System. Each of these extends the ACE_Select_Reactor to work with a
 specific toolkit. By using these reactors, your GUI application can remain
 single threaded yet still respond to both GUI events, such as button presses,
 any your own application events.
 .
 The ACE_XtReactor extends both the ACE_Select_Reactor and the X Toolkit library
 function XtWaitForMultipleEvents().
 .
 This packages contains development files.

Package: libace-tkreactor5.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Replaces: libace-tkreactor5.4 (<< 5.4.7), libace-tkreactor5.4.7
Conflicts: libace-tkreactor5.4 (<< 5.4.7), libace-tkreactor5.4.7
Description: GUI Integrated Reactors for ACE: Tk Reactor
 Recognizing the need to write reactor-based GUI applications, the ACE
 community has created several reactor extensions for use with X Window
 System. Each of these extends the ACE_Select_Reactor to work with a
 specific toolkit. By using these reactors, your GUI application can remain
 single threaded yet still respond to both GUI events, such as button presses,
 any your own application events.
 .
 The ACE_TkReactor provides reactor functionality around the popular Tcl/Tk
 library. The underlying Tcl/Tk method used is Tcl_DoOneEvent().

Package: libace-tkreactor-dev
Architecture: any
Section: libdevel
Depends: libace-tkreactor5.4.7c2a (= ${Source-Version}), libace-dev (= ${Source-Version}), tk8.4-dev (>= 8.4.7)
Description: GUI Integrated Reactors for ACE: Tk Reactor (development files)
 Recognizing the need to write reactor-based GUI applications, the ACE
 community has created several reactor extensions for use with X Window
 System. Each of these extends the ACE_Select_Reactor to work with a
 specific toolkit. By using these reactors, your GUI application can remain
 single threaded yet still respond to both GUI events, such as button presses,
 any your own application events.
 .
 The ACE_TkReactor provides reactor functionality around the popular Tcl/Tk
 library. The underlying Tcl/Tk method used is Tcl_DoOneEvent().
 .
 This package contains development files.

Package: libace-flreactor5.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Replaces: libace-flreactor5.4 (<< 5.4.7), libace-flreactor5.4.7
Conflicts: libace-flreactor5.4 (<< 5.4.7), libace-flreactor5.4.7
Description: GUI Integrated Reactors for ACE: FastLight Reactor
 Recognizing the need to write reactor-based GUI applications, the ACE
 community has created several reactor extensions for use with X Window
 System. Each of these extends the ACE_Select_Reactor to work with a
 specific toolkit. By using these reactors, your GUI application can remain
 single threaded yet still respond to both GUI events, such as button presses,
 any your own application events.
 .
 The ACE_FlReactor integrates with the FastLight toolkit's Fl::wait() method.

Package: libace-flreactor-dev
Architecture: any
Section: libdevel
Depends: libace-flreactor5.4.7c2a (= ${Source-Version}), libace-dev (= ${Source-Version}), libfltk1.1-dev (>= 1.1.4)
Description: GUI Integrated Reactors for ACE: FastLight Reactor (development files)
 Recognizing the need to write reactor-based GUI applications, the ACE
 community has created several reactor extensions for use with X Window
 System. Each of these extends the ACE_Select_Reactor to work with a
 specific toolkit. By using these reactors, your GUI application can remain
 single threaded yet still respond to both GUI events, such as button presses,
 any your own application events.
 .
 This package contains development files.

Package: libtao-qtresource1.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Replaces: libtao-qtreactor1.4 (<< 5.4.7), libtao-qtresource1.4.7
Conflicts: libtao-qtreactor1.4 (<< 5.4.7), libtao-qtresource1.4.7
Description: Qt GUI resource factory for TAO
 This factory is intended for creating QtReactor for ORB. This factory
 can be feed into ORB using TAO_ORB_Core::set_gui_resource_factory
 method which is usually done by TAO_QtResource_Loader.

Package: libtao-qtresource-dev
Architecture: any
Section: libdevel
Depends: libtao-qtresource1.4.7c2a (= ${Source-Version}), libace-qtreactor-dev (= ${Source-Version}), libtao-dev (= ${Source-Version})
Replaces: libtao-qtreactor-dev (<< 5.4.7)
Conflicts: libtao-qtreactor-dev (<< 5.4.7)
Description: Qt GUI resource factory for TAO (development files)
 This factory is intended for creating QtReactor for ORB. This factory
 can be feed into ORB using TAO_ORB_Core::set_gui_resource_factory
 method which is usually done by TAO_QtResource_Loader.
 .
 This package contains development files.

Package: libtao-xtresource1.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Replaces: libtao-xtreactor1.4 (<< 5.4.7), libtao-xtresource1.4.7
Conflicts: libtao-xtreactor1.4 (<< 5.4.7), libtao-xtresource1.4.7
Description: Xt GUI resource factory for TAO
 This factory is intended for creating XtReactor for ORB. This factory
 can be feed into ORB using TAO_ORB_Core::set_gui_resource_factory
 method which is usually done by TAO_XtResource_Loader.

Package: libtao-xtresource-dev
Architecture: any
Section: libdevel
Depends: libtao-xtresource1.4.7c2a (= ${Source-Version}), libace-xtreactor-dev (= ${Source-Version}), libtao-dev (= ${Source-Version})
Replaces: libtao-xtreactor-dev (<< 5.4.7)
Conflicts: libtao-xtreactor-dev (<< 5.4.7)
Description: Xt GUI resource factory for TAO (development files)
 This factory is intended for creating XtReactor for ORB. This factory
 can be feed into ORB using TAO_ORB_Core::set_gui_resource_factory
 method which is usually done by TAO_XtResource_Loader.
 .
 This package contains development files.

Package: libtao-flresource1.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Replaces: libtao-flresource1.4.7
Conflicts: libtao-flresource1.4.7
Description: Fl GUI resource factory for TAO
 This factory is intended for creating FlReactor for ORB. This factory
 can be feed into ORB using TAO_ORB_Core::set_gui_resource_factory
 method which is usually done by TAO_FlResource_Loader.

Package: libtao-flresource-dev
Architecture: any
Section: libdevel
Depends: libtao-flresource1.4.7c2a (= ${Source-Version}), libace-flreactor-dev (= ${Source-Version}), libtao-dev (= ${Source-Version})
Description: Fl GUI resource factory for TAO (development files)
 This factory is intended for creating FlReactor for ORB. This factory
 can be feed into ORB using TAO_ORB_Core::set_gui_resource_factory
 method which is usually done by TAO_FlResource_Loader.
 .
 This package contains development files.

Package: libtao-tkresource1.4.7c2a
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Replaces: libtao-tkresource1.4.7
Conflicts: libtao-tkresource1.4.7
Description: Tk GUI resource factory for TAO
 This factory is intended for creating FlReactor for ORB. This factory
 can be feed into ORB using TAO_ORB_Core::set_gui_resource_factory
 method which is usually done by TAO_TkResource_Loader.

Package: libtao-tkresource-dev
Architecture: any
Section: libdevel
Depends: libtao-tkresource1.4.7c2a (= ${Source-Version}), libace-tkreactor-dev (= ${Source-Version}), libtao-dev (= ${Source-Version})
Description: Tk GUI resource factory for TAO (development files)
 This factory is intended for creating TkReactor for ORB. This factory
 can be feed into ORB using TAO_ORB_Core::set_gui_resource_factory
 method which is usually done by TAO_TkResource_Loader.
 .
 This package contains development files.

