#!/usr/bin/make -f

# debian/rules file for the ACE Debian GNU/Linux package
# written February 2002 by Ossama Othman <ossama@debian.org>
# Modified August 2003 by Brian Nelson <pyro@debian.org>

export ACE_ROOT = $(shell pwd)
export TAO_ROOT = $(ACE_ROOT)/TAO
export LD_LIBRARY_PATH := $(LD_LIBRARY_PATH):$(shell pwd)

ACE_MAJOR_VERSION := $(shell grep ACE_MAJOR_VERSION ace/Version.h | sed -e 's/\#define ACE_MAJOR_VERSION //')
ACE_VERSION := $(shell grep ACE_VERSION ace/Version.h | sed -e 's/\#define ACE_VERSION //' -e 's/"//g')

TAO_MAJOR_VERSION := $(shell grep TAO_MAJOR_VERSION TAO/tao/Version.h | sed -e 's/\#define TAO_MAJOR_VERSION //')
TAO_VERSION := $(shell grep TAO_MAJOR_VERSION TAO/tao/Version.h | sed -e 's/\#define TAO_MAJOR_VERSION //')

#  This settings are only active while building ACE & Co. but never active while
#  user's applications are developed with ACE & Co.
MAKEENV := CPPFLAGS="-DACE_NDEBUG -DACE_USE_RCSID"

build: build-stamp
build-stamp:
	dh_testdir

# This hack applies Makefiles and .pl patches, but will produce
# .rej files when invoked multiple times...
	patch --forward -p1 < debian/debian.diff

	cp debian/config/config.h ace
ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
	echo "debug=1" > include/makeinclude/platform_macros.GNU
	echo "optimize=0" >> include/makeinclude/platform_macros.GNU
else
	echo "debug=0" > include/makeinclude/platform_macros.GNU
	echo "optimize=1" >> include/makeinclude/platform_macros.GNU
endif
	cat debian/config/platform_macros.GNU >> include/makeinclude/platform_macros.GNU

	$(MAKENEV) $(MAKE) -C ace shared_libs=1 static_libs=1
	$(MAKEENV) $(MAKE) -C ACEXML shared_libs=1 static_libs=1

	$(MAKEENV) $(MAKE) -C apps/gperf/src
#	We need to rename gperf so that it does not conflict with the
#       existing Cygnus based gperf Debian package.
	cp apps/gperf/src/gperf apps/gperf/src/gperf-ace

	$(MAKEENV) $(MAKE) -C Kokyu shared_libs=1 static_libs=1

	PATH=$(ACE_ROOT)/apps/gperf/src:$(PATH) LD_LIBRARY_PATH=$(ACE_ROOT)/lib $(MAKEENV) $(MAKE) -C TAO shared_libs=1 corba_messaging=1 rtcorba=1

	PATH=$(ACE_ROOT)/apps/gperf/src:$(PATH) LD_LIBRARY_PATH=$(ACE_ROOT)/lib $(MAKEENV) $(MAKE) -C TAO/CIAO shared_libs=1

	touch build-stamp

clean:
	dh_testdir
	rm -f build-stamp install-stamp

# HACK:   ACE's "realclean" target needs these.  *sigh*
	cp debian/config/config.h ace
	cp debian/config/platform_macros.GNU include/makeinclude

	-$(MAKE) realclean shared_libs=1
	-$(MAKE) realclean static_libs=1
	-$(MAKE) -C TAO realclean shared_libs=1
	-$(MAKE) -C TAO realclean static_libs=1
	-$(MAKE) -C TAO/CIAO realclean shared_libs=1

	rm -f ace/*.{a,so*} ace/RMCast/*.{a,so*} bin/gperf-ace apps/gperf/src/gperf-ace \
	      apps/gperf/gperf-ace.1 apps/gperf/gperf-ace.info ace/config.h \
	      include/makeinclude/platform_macros.GNU

	rm -f TAO/utils/catior/tao-catior
	rm -f TAO/utils/catior/README.catior
	rm -f TAO/utils/nslist/README.nslist
	rm -f TAO/orbsvcs/README.orbsvcs
	rm -f TAO/orbsvcs/Concurrency_Service/README.Concurrency_Service
	rm -f TAO/orbsvcs/CosEvent_Service/README.CosEvent_Service
	rm -f TAO/orbsvcs/FT_ReplicationManager/README.FT_ReplicationManager
	rm -f TAO/orbsvcs/IFR_Service/README.IFR_Service
	rm -f TAO/orbsvcs/LoadBalancer/README.LoadBalancer
	rm -f TAO/orbsvcs/Logging_Service/README.Logging_Service
	rm -f TAO/orbsvcs/Naming_Service/README.Naming_Service
	rm -f TAO/orbsvcs/Notify_Service/README.Notify_Service
	rm -f TAO/orbsvcs/PSS/README.PSS
	rm -f TAO/orbsvcs/TAO_Service/README.TAO_Service
	rm -f TAO/orbsvcs/Time_Service/README.Time_Service
	rm -f TAO/orbsvcs/Trading_Service/README.Trading_Service

	dh_clean

install:
install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	sed -e 's/gperf/gperf-ace/g' \
            -e 's/GPERF/GPERF-ACE/g' \
           apps/gperf/gperf.1 > \
	   apps/gperf/gperf-ace.1
	sed -e 's/gperf\.info/gperf-ace\.info/g' \
            -e 's/(gperf)\.    /(gperf-ace)\./g' \
           apps/gperf/gperf.info > \
           apps/gperf/gperf-ace.info

#	Rename the TAO/utils README files
	cp TAO/utils/catior/README TAO/utils/catior/README.catior
	cp TAO/utils/nslist/README TAO/utils/nslist/README.nslist
	cp TAO/orbsvcs/Concurrency_Service/README TAO/orbsvcs/Concurrency_Service/README.Concurrency_Service
	cp TAO/orbsvcs/CosEvent_Service/README TAO/orbsvcs/CosEvent_Service/README.CosEvent_Service
	cp TAO/orbsvcs/FT_ReplicationManager/README TAO/orbsvcs/FT_ReplicationManager/README.FT_ReplicationManager
	cp TAO/orbsvcs/IFR_Service/README TAO/orbsvcs/IFR_Service/README.IFR_Service
	cp TAO/orbsvcs/LoadBalancer/README TAO/orbsvcs/LoadBalancer/README.LoadBalancer
	cp TAO/orbsvcs/Logging_Service/README TAO/orbsvcs/Logging_Service/README.Logging_Service
	cp TAO/orbsvcs/Naming_Service/README TAO/orbsvcs/Naming_Service/README.Naming_Service
	cp TAO/orbsvcs/Notify_Service/README TAO/orbsvcs/Notify_Service/README.Notify_Service
	cp TAO/orbsvcs/PSS/README TAO/orbsvcs/PSS/README.PSS
	cp TAO/orbsvcs/TAO_Service/README TAO/orbsvcs/TAO_Service/README.TAO_Service
	cp TAO/orbsvcs/Time_Service/README TAO/orbsvcs/Time_Service/README.Time_Service
	cp TAO/orbsvcs/Trading_Service/README TAO/orbsvcs/Trading_Service/README.Trading_Service
#	Rename the catior utility, it already exists in another package
	cp TAO/utils/catior/catior TAO/utils/catior/tao-catior

#	Be lintian clean, fix permissions on examples
	-chmod -x `find TAO/examples/ -perm 755 ! -type d -a ! \( -name "*.pl" -o -name "*.sh" \)`
	-chmod -x `find TAO/CIAO/examples/ -perm 755 ! -type d -a ! \( -name "*.pl" -o -name "*.sh" \)`
#	And on some header files
	-chmod -x `find TAO/orbsvcs -perm 755 ! -type d -a \( -name "*.h" -o -name "*.inl" \)`

	dh_install

#       Install the C++ template sources.
	sh debian/copy_template_sources.sh

binary-indep: build install
	dh_testdir -i
	dh_testroot -i
	dh_installdocs -i
	dh_installexamples -i
	dh_installman -i
	dh_installchangelogs -i ChangeLog
	dh_link -i
	dh_compress -i -Xexamples -Xtutorials
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary-arch: build install
	dh_testdir -a
	dh_testroot -a
	dh_installdocs -a -A
	dh_installman -a
	dh_installinfo -pgperf-ace apps/gperf/gperf-ace.info
	dh_installchangelogs -a ChangeLog
	dh_installchangelogs -pgperf-ace apps/gperf/ChangeLog
	dh_strip -a
	dh_link -a
	dh_compress -a
	dh_fixperms -a
	dh_installdeb -a
	dh_makeshlibs -a -V
	dh_shlibdeps -a -l debian/tmp/usr/lib:debian/libacexml5.4/usr/lib:debian/libace-rmcast5.4/usr/lib:debian/libciao1.4/usr/lib:debian/libkokyu5.4/usr/lib:debian/libtao1.4/usr/lib:debian/libtao-orbsvcs1.4/usr/lib
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

source diff:                                                                  
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install
